PRODUCT_NAME = WordLoop
PRODUCT_BUNDLE_IDENTIFIER = com.knightspace.wordloop
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_TEAM = 8BTNCKAM7H

SWIFT_VERSION = 6.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1
SUPPORTS_MACCATALYST = NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO

GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = App/Info.plist
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME =
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

ENABLE_USER_SCRIPT_SANDBOXING = YES
